.panel.panel-default
  .panel-heading orders
  .panel-body
    .table-responsive
      %table.table.table-hover
        %thead
          %tr
            %th Id
            %th Status
            %th Total
        %tbody
        = render partial: "orders/item", collection: @items
        
