.panel.panel-default
  .panel-heading products
  .panel-body
    - if admin?
      = link_to "Create", new_admin_product_path, class: 'btn btn-primary'
  .list-group
  = render partial: "admin/products/item", collection: @items
  
