.panel.panel-default
  .panel-heading= @item.title
  .panel-body
    - if admin?
      = link_to "Edit", edit_category_path, :class => 'btn btn-primary'
      = link_to "Destroy", category_path(@item), method: :delete, :class => 'btn btn-danger'